.middle-Box {
  width: 60%;
  height: 300px;
  position: relative;
  margin-top: 300px;
  border: solid white;
  margin-left: auto;
  margin-right: auto;
  justify-content: auto;
  align-items: center;
  border-radius: 30px;
  background-color: blanchedalmond;
}
.id {
  margin-top: 50px;
  margin-left: 40px;
  font-size: 30px;
}
.desc {
  margin-top: 30px;
  margin-left: 50px;
  font-weight: bold;
  font-size: 25px;
}
.subdesc {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 40px;
}
.goBack {
  float: right;
  margin: 25px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
